# =========================
# Variáveis de ambiente
# =========================
.env
.env.*
!.env.example

# =========================
# Backups (DADOS SENSÍVEIS)
# =========================
backup/
*.tar
*.tar.gz
*.gpg

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
docker-compose.override.yml

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Node / Geral
# =========================
node_modules/
