services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n-hashtag
    ports:
      - "5678:5678"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false # Permite uso de {{ $env.VAR }} nos nodes (educacional)
    volumes:
      - n8n-data:/home/node/.n8n
    networks:          
      - n8n-network
    restart: unless-stopped

networks:
  n8n-network: 
    driver: bridge

volumes:
  n8n-data:
